.nav-container {
  width: 100%;
  height: 70px;
  background: #001a66;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  box-sizing: border-box;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo-c {
  font-size: 40px;
  color: #e5e100;
  font-weight: 700;
  line-height: 1;
}

.logo-ense {
  font-size: 22px;
  font-weight: 700;
  color: #e5e100;
  line-height: 1;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-btn {
  background: #e6e600;
  padding: 8px 14px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.nav-btn.active {
  background: black;
  color: #ffe600;
  border: 2px solid #ffe600;
}

.nav-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-circle {
  width: 38px;
  height: 38px;
  background: gray;
  border-radius: 50%;
  background-size: cover;
}

.nav-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ffe600;
}

.nav-username {
  font-size: 16px;
  color: #ffe600;
  font-weight: 600;
  letter-spacing: 0.2px;
}
